<head>
<%- include('includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/orders.css">
	<link rel="stylesheet" href="/css/product.css"> -->
	<link rel="stylesheet" href="/css/mayoreo.css">
</head>
    
<body>	
<%- include('includes/navbarH2F.ejs') %>
<script>
	function guardarCarrro(){
		var cantiad = document.getElementById("usrname");
		var cantidadReal=cantiad.value
	
		//de esta manera se guarda info del server en el cache
		if(!sessionStorage.getItem("numObjetosMayoreo")){	
			//si no hay nada, creamos el objeto
			sessionStorage.setItem('numObjetosMayoreo',"1");
		}else{
		//Se guarda el numero de cotizaciones hechas
			
sessionStorage.setItem('numObjetosMayoreo',Number(sessionStorage.getItem("numObjetosMayoreo"))+1);
		
		}
		//se guarda el producto y se le concatena el numero interesado de cotizaciones
	var stringPorGuardar="<%=producto._id%>" + "/" + cantidadReal;
	sessionStorage.setItem('productoMayoreo' +          sessionStorage.getItem("numObjetosMayoreo"), stringPorGuardar);
		// alert(stringPorGuardar);
		// alert(sessionStorage.getItem('productoMayoreo' +    sessionStorage.getItem("numObjetosMayoreo")))
	
		swal({
		  title: "Producto Agregado",
		  text: "El objeto se agrego correctamente al carrito!",
		  icon: "success",
		  button: "yupi",
		}).then((value) => {
		  location.reload();
		});
	}
</script>
	
<main class="container">
	<!-- Left Column / botellas Image -->
    <img  class="imagen" src="<%= producto.LinksImagenes%>" alt="">

  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Botellas Deportivas</span>
      <h1> <%= producto.Botella %> <%=producto.color%></h1>
	  <h1><%= producto.Volumen%> ml</h1>
      <p><%= producto.Caracteristicas%></p>
	  
    </div>
	  
	  <form action="/CarroMayoreo" method = "GET"> 
	  </form>
	  
    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <!-- Product Color -->
      <div class="product-color">
        <span>   </span>
     <% if (producto.Botella == "Crack"){ %>
        <div class="color-choose">
          <div>
            <input data-image="pink" type="radio" id="pink" name="color" value="pink" checked for="pink"
				  	onclick="location.href='/H2Flow/Mayoreo/5f659bfda0fbaf4c8b5ec123';">    
			<label  for="pink"> <span>  </span></label>
			</div>
          <div>
             <input href="/" data-image="azulFuerte" type="radio" id="azulFuerte" name="color" value="azulFuerte"                   
                	onclick="location.href='/H2Flow/Mayoreo/5f659bfda0fbaf4c8b5ec122';" >
            <label for="azulFuerte"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black" 
				  	onclick="location.href='/H2Flow/Mayoreo/5f659bfda0fbaf4c8b5ec121';">
            <label for="black"><span></span></label>
          </div>
		  <div>
            <input data-image="green" type="radio" id="green" name="color" value="green" checked for="green"                                 
					onclick="location.href='/H2Flow/Mayoreo/5f659bfda0fbaf4c8b5ec124';">            
				   <label  for="green"> <span>  </span></label>
          </div>
		  <div>
            <input data-image="azulClaro" type="radio" id="azulClaro" name="color" value="azulClaro" checked for="azulClaro"                                 
					onclick="location.href='/H2Flow/Mayoreo/5f659bfda0fbaf4c8b5ec125';">            
				   <label  for="azulClaro"> <span>  </span></label>
			  
          </div>
		  
		  </div>
		  
     <% }else if(producto.Botella == "Spartan"){ %> 
      			
		<div class="color-choose">
		<div>
            <input data-image="pink" type="radio" id="pink" name="color" value="pink" checked for="pink"                                 
					onclick="location.href='/H2Flow/Productos/5f659bfda0fbaf4c8b5ec132';">            
				   <label  for="pink"> <span>  </span></label>  
          </div>
          <div>
            <input data-image="green" type="radio" id="green" name="color" value="green" checked for="green"
				   	onclick="location.href='/H2Flow/Productos/5f659bfda0fbaf4c8b5ec133';">
            <label for="green"><span></span></label> 
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black" checked for="black"
				   	onclick="location.href='/H2Flow/Productos/5f659bfda0fbaf4c8b5ec130';">
            <label for="black"><span></span></label> 
          </div>
          <div>
            <input data-image="naranja" type="radio" id="naranja" name="color" value="naranja" checked for="naranja"                                 
					onclick="location.href='/H2Flow/Productos/5f659bfda0fbaf4c8b5ec131';">            
			<label  for="naranja"> <span>  </span></label> 
			  
          </div>
		  
		  <div>
            <input data-image="morado" type="radio" id="morado" name="color" value="morado" checked for="morado"                                 
					onclick="location.href='/H2Flow/Productos/5f659bfda0fbaf4c8b5ec13e';">            
			<label  for="morado"> <span>  </span></label>
			  
          </div>
		  
		  </div>
		  
	   <% } else {  %>
		 
		<%   } %>
		</div>
 	
  
    <!-- Product Pricing -->
    <div class="product-price">
		<input type="text" class="entradaDeTexto" id="usrname">
      <a class="cart-btn" class="<%= path === '/' ? 'active' : '' %>"  onclick="guardarCarrro()">Cotizacion<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
  <circle cx="8" cy="4.5" r="1"/>
</svg></a>
    </div>
  </div>
	</div>
			
			
        </main>
		
<%- include('includes/end.ejs') %>
		
		